@import '@styles/partials/variables';

.listWrapper {
    li {
        border: 1px solid $borderColor;
        border-radius: 8px;
        transition: 0.3s all ease;

        button {
            padding: 20px 30px;
            font-size: 18px;
            font-weight: 600;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            text-align: left;

            i {
                font-size: 10px;
                transition: 0.3s all ease;
            }
        }

        .body {
            overflow: hidden;
            transition: height 0.3s ease;

            p {
                padding: 0 30px 20px;
            }
        }

        &:not(:last-child) {
            margin-bottom: 18px;
        }

        &.active {
            background-color: $siteHoverBg;
            border-color: $siteHoverBg;

            i {
                transform: rotate(180deg);
            }
        }
    }
}

@media (min-width: 992px) {
    .listWrapper {
        li {
            button {
                text-align: left;
            }
        }
    }
}
