p {
    font-size: 18px;
    line-height: 24px;
    color: #6a6a6a;
}

.container {
    padding: 0 20px;
    width: 100%;
}

.row {
    display: flex;
    margin: 0 -12px;

    .col {
        flex: 1;
        padding: 0 12px;
    }
}

.d-block {
    display: block;
}

.d-inline-block {
    display: inline-block;
}

.d-flex {
    display: flex;
}

.jc-center {
    justify-content: center;
}

.jc-between {
    justify-content: space-between;
}

.ai-center {
    align-items: center;
}

.gap-24 {
    column-gap: 24px;
    row-gap: 24px;
}

.wrap {
    flex-wrap: wrap;
}

.section-top-margin {
    margin-top: 52px;
}

.section-bottom-margin {
    margin-bottom: 52px;
}

.section-top-padding {
    padding-top: 52px;
}

.section-bottom-padding {
    padding-bottom: 52px;
}

.position-relative {
    position: relative;
}

.w-50 {
    width: 50% !important;
}

.mb-12 {
    margin-bottom: 12px;
}

.mb-20 {
    margin-bottom: 20px;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
        margin: 0 auto;
        padding: 0;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }

    .section-top-margin {
        margin-top: 60px;
    }

    .section-bottom-margin {
        margin-bottom: 60px;
    }

    .section-top-padding {
        padding-top: 60px;
    }

    .section-bottom-padding {
        padding-bottom: 60px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }

    .section-top-margin {
        margin-top: 72px;
    }

    .section-bottom-margin {
        margin-bottom: 72px;
    }

    .section-top-padding {
        padding-top: 72px;
    }

    .section-bottom-padding {
        padding-bottom: 72px;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }
}
