@font-face {
    font-family: "icons";
    src: url("/fonts/icons.ttf?096df114502decc1436316405a959b4b") format("truetype"),
url("/fonts/icons.woff?096df114502decc1436316405a959b4b") format("woff"),
url("/fonts/icons.woff2?096df114502decc1436316405a959b4b") format("woff2"),
url("/fonts/icons.svg?096df114502decc1436316405a959b4b#icons") format("svg"),
url("/fonts/icons.eot?096df114502decc1436316405a959b4b#iefix") format("embedded-opentype");
}

.font:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.font.icon-youtube:before {
    content: "\f101";
}
.font.icon-twitter:before {
    content: "\f102";
}
.font.icon-instagram:before {
    content: "\f103";
}
.font.icon-forward:before {
    content: "\f104";
}
.font.icon-facebook:before {
    content: "\f105";
}
.font.icon-down:before {
    content: "\f106";
}
.font.icon-dollar:before {
    content: "\f107";
}
.font.icon-arrow-up:before {
    content: "\f108";
}
