@import '@styles/partials/variables';

.headerWrapper {
    min-height: 110px;

    .content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 24px 0;

        .siteLogo {
            width: 180px;

            img {
                max-width: 100%;
            }
        }

        ul {
            display: none;
        }

        button {
            background: linear-gradient(65deg, $siteColor, $siteSecondaryColor);
            padding: 14px 20px;
            border-radius: 40px;
            color: white;
            transition: all 0.3s ease;
            text-transform: uppercase;
            letter-spacing: 1px;

            &:hover {
                scale: 1.1;
            }
        }
    }

    &.sticky {
        .innerWrap {
            width: 100%;
            position: fixed;
            top: 0;
            background-color: white;
            z-index: 99;
        }
    }
}

@media (min-width: 992px) {
    .headerWrapper {
        .innerWrap {
            ul {
                display: flex;
                justify-content: center;
                align-items: center;
                column-gap: 20px;
                padding: 10px;
                border-radius: 40px;
                border: 1px solid $borderColor;

                li {
                    overflow: hidden;

                    a {
                        padding: 10px 12px;
                        position: relative;
                        display: flex;
                        column-gap: 8px;
                        align-items: center;

                        i {
                            font-size: 6px;
                            transition: 0.3s all ease;
                        }

                        &:hover {
                            i {
                                transform: rotate(-180deg);
                            }
                        }

                        &.active {
                            background-color: $siteHoverBg;
                            border-radius: 40px;
                            color: $siteColor;
                        }
                    }
                }
            }
        }
    }
}
