.inputWrapper {
    background-color: white;
    padding: 10px 18px;
    border-radius: 12px;
    border: unset;
    line-height: 30px;
    font-size: 18px;
    width: 100%;

    &:focus-visible {
        outline: unset;
    }
}
