@import '@styles/partials/variables';

.wrapper {
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    padding: 80px;

    .content {
        max-width: 45%;

        h2 {
            color: white;
        }

        p {
            color: white;
            margin-bottom: 12px;
        }

        .formWrap {
            display: flex;
            gap: 12px;

            input {
                padding: 10px 30px;
                border-radius: 40px;
                box-sizing: border-box;
            }

            button {
                padding: 10px 30px;
                border-radius: 40px;
                background-color: black;
                color: white;
            }
        }
    }
}

@media (max-width: 600px) {
    .wrapper {
        padding: 20px 0;
        background-image: unset !important;

        .content {
            max-width: 100%;

            .formWrap {
                display: block;

                input {
                    margin-bottom: 12px;
                }

                button {
                    font-size: 16px;
                    width: 100%;
                    padding: 16px 30px;
                }
            }
        }
    }
}
