@import '@styles/partials/variables';

.banner {
    overflow: hidden;
    position: relative;
    padding-top: 64px;

    .animation {
        margin: 0 auto -72px;
    }

    .floater {
        h5 {
            font-size: 18px;
            color: #a1a0bd;
        }

        p {
            font-size: 20px;
            font-weight: 600;
            color: black;
        }

        .stat {
            background-color: black;
            color: white;
            display: flex;
            align-items: center;
            column-gap: 4px;
            font-size: 14px;
            border-radius: 12px;
            padding: 4px 10px;
            height: max-content;

            i {
                font-size: 10px;
            }
        }
    }

    .incomeFloater {
        position: absolute;
        width: 275px;
        left: 10%;
        bottom: 240px;
        box-shadow: 0px 10px 60px 0px $shadow;
        padding: 20px 24px;
        border-radius: 12px;
        animation: float-up-down 2s infinite linear;
    }

    .assetsFloater {
        position: absolute;
        width: 320px;
        right: 5%;
        bottom: 120px;
        box-shadow: 0px 10px 60px 0px $shadow;
        padding: 20px 24px;
        border-radius: 12px;
        animation: float-left-right 2s infinite linear;

        .chart {
            display: flex;
            column-gap: 24px;
            height: 160px;
            align-items: end;

            span {
                width: 8px;
                background: $gradientBg;
                border-radius: 4px;

                &:nth-child(1) {
                    height: 50%;
                }
                &:nth-child(2) {
                    height: 80%;
                }
                &:nth-child(3) {
                    height: 100%;
                }
                &:nth-child(4) {
                    height: 30%;
                }
                &:nth-child(5) {
                    height: 60%;
                }
                &:nth-child(6) {
                    height: 50%;
                }
                &:nth-child(7) {
                    height: 30%;
                }
                &:nth-child(8) {
                    height: 60%;
                }
                &:nth-child(9) {
                    height: 95%;
                }
                &:nth-child(10) {
                    height: 70%;
                }
            }
        }
    }

    .heading {
        h2 {
            font-size: 64px;
            display: block;
            max-width: 560px;
            margin: 0 auto;
        }
    }

    .description {
        max-width: 460px;
        margin: 0 auto 24px;
        text-align: center;
    }

    .form {
        display: flex;
        gap: 12px;
        max-width: 560px;
        margin: 0 auto;

        input {
            padding: 10px 20px;
            border-radius: 40px;
            flex: 1;
            width: auto;
            border: 1px solid $borderColor;
        }

        button {
            padding: 10px 30px;
            border-radius: 40px;
            background: $gradientBg;
            color: white;
            text-transform: uppercase;
        }
    }
}

.counterWrapper {
    padding: 60px 0;
    background-color: black;

    ul {
        li {
            margin-bottom: 24px;
            padding-bottom: 24px;
            position: relative;

            span,
            p {
                color: white;
                text-align: center;
                display: block;
            }

            span {
                font-size: 40px;
                font-weight: 600;
                margin-bottom: 8px;
            }

            &:not(:last-child)::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                width: 65%;
                height: 2px;
                border-radius: 4px;
                background-color: white;
            }
        }
    }
}

.servicesWrapper {
    padding: 80px 0;
    background: $gradientBg;
    position: relative;

    .innerWrap {
        .singleCard {
            margin-bottom: 24px;
        }
    }

    .bgText {
        display: none;
    }
}

.newsLetterWrapper {
    margin: 60px 52px 72px;
    background: $gradientBgReveted;
    border-radius: 20px;
    overflow: hidden;
}

.faqWrapper {
    max-width: 100%;
    padding: 0 20px;
}

@media (min-width: 992px) {
    .counterWrapper {
        padding: 60px 0;
        background-color: black;

        ul {
            display: flex;
            margin: 0 -12px;

            li {
                flex: 1;
                padding: 0 12px;
                margin-bottom: 0;
                padding-bottom: 0;

                span {
                    font-size: 64px;
                }

                &:not(:last-child):after {
                    content: none;
                }
            }
        }
    }

    .servicesWrapper {
        margin: 60px 52px 24px;
        padding: 80px 80px 140px;
        border-radius: 20px;

        .innerWrap {
            display: flex;
            justify-content: center;
            gap: 24px;
            flex-wrap: wrap;

            .singleCard {
                width: calc(20%);
                z-index: 1;
            }
        }

        .bgText {
            position: absolute;
            bottom: -30px;
            left: 50%;
            transform: translateX(-50%);
            color: transparent;
            font-size: 240px;
            line-height: 1;
            text-transform: uppercase;
            background-image: linear-gradient(white, transparent);
            -webkit-text-stroke-color: transparent;
            -webkit-text-stroke-width: 4px;
            -webkit-text-fill-color: transparent;
            background-color: transparent;
            background-clip: text;
        }
    }

    .faqWrapper {
        max-width: 850px;
        margin-left: auto;
        margin-right: auto;
    }
}

@keyframes float-up-down {
    0% {
        transform: translateY(-20px);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(-20px);
    }
}

@keyframes float-left-right {
    0% {
        transform: translateX(-20px);
    }
    50% {
        transform: translateX(-10px);
    }
    100% {
        transform: translateX(-20px);
    }
}
